 style
 *{
    margin: 0;;
    padding: 0;
    font-family: Arial, sans-serif;
}

.cv-container {
    width: 70%;
    margin: 30px auto;
    background:bisque;
    border: 1px solid #ccc;
}

.cv-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cv-table th,
.cv-table td {
    border: 1px solid #b41616;
    padding: 10px;
    vertical-align: top;

}

th{
    background-color:rgb(197, 113, 127);
color: #f4f4f4;
width: 80;
}

body{
    background-color: #bcbcbc;
}

strong{ color:black;
    }

 button{
        background-color: rgb(205, 146, 146);
        color: aliceblue;
    }

select{
        background-color: rgb(219, 129, 144);
        color: aliceblue;
    }

.container{
    text-align: right;
    display: flex;
    
}

img{
    margin-left: 600px;
    border-radius: 50px;
}

table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

